@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-card-home {
    @apply text-3xl xl:text-6xl font-semibold;
  }
  .icon-card-home {
    @apply text-4xl md:text-6xl;
  }
  .card-small-home {
    @apply flex justify-center items-center h-1/2 rounded-full gap-6 cursor-pointer;
  }
  .footer-icon {
    @apply text-4xl cursor-pointer;
  }
  .app-container {
    @apply flex flex-col items-center justify-start;
  }
  .app-header {
    @apply flex items-center justify-center text-5xl md:text-6xl lg:text-7xl xl:text-8xl  w-full h-[20%] md:my-6 text-center font-bold relative;
  }
  .icon-text-card-project {
    @apply text-sm md:text-base text-textCardDescription;
  }
}

#cv_pdf {
  color: transparent;
  background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
